Value Filldown hostname (\S+)
Value Required INTERFACE (\S+)
Value DESCRIPTION (.*)
Value IP_ADDRESS (\d+\.\d+\.\d+\.\d+\/\d+)
Value LINK_STATUS (\w+)
Value PROTOCOL_STATUS (.*)


Start
  ^hostname\s+${hostname}.*
  ^${INTERFACE} is ${LINK_STATUS}.*protocol is ${PROTOCOL_STATUS}
  ^\s+Description: ${DESCRIPTION}
  ^\s+Internet address is ${IP_ADDRESS}

