Value Filldown hostname (\S+)
Value Required INTERFACE (\S+)
Value DESCRIPTION (.*)
Value IP_ADDRESS (\d+\.\d+\.\d+\.\d+)




Start
  ^hostname\s+${hostname}.*
  ^interface ${INTERFACE} 
  ^\s+description ${DESCRIPTION}
  ^\s+ip address ${IP_ADDRESS}  -> Record
